.header {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: verdana bold;

}

.header1 {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;
}

.ending {
	background:rgb(240, 170, 50);
	padding: 10px;
	text-align: center;
}