.header {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;

}

* {
	box-sizing: border-box;
}

.photos{
	float: left;
	width:  25%;
	padding:  5px;
}

.move::after {
	content:  "";
	clear: both;
	display: table;
}