.header {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 60px;
	font-family: verdana bold;

}

.header h1{
	font-size: 60px;
	font-weight: bold;
}

#titulo {
	font-size: 70px;
	font-weight: bold;
}



.header1 {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;
}