.header {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	margin-bottom: 5px;
	font-size: 60px;
	font-family: verdana bold;
	text-shadow: 2px 2px 4px rgb(230, 223, 204);

}

.header1 {
	text-align: center;
	background: rgb(165, 131, 131);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;
	text-shadow: 2px 2px 4px rgb(230, 223, 204);
}


.header3 {
	text-align: center;
	background: rgb(112, 107, 107);
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;
	text-shadow: 2px 2px 4px rgb(230, 223, 204);

}

.header4 {
	text-align: center;
	background-image: url(IMG_0254.jpg) ;
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 35px;
	font-family: verdana bold;
	text-shadow: 2px 2px 4px rgb(230, 223, 204);
	height: 100%;
}

.header5 {
	text-align: center;
	background-color: grey ;
	color: rgb(255, 255, 255);
	padding:  60px;
	font-size: 1000px;
	font-family: verdana bold;
	text-shadow: 2px 2px 4px rgb(230, 223, 204);
	height: 100%;
}

#greyscale {
	font-size: 100px;
}

#center {
	text-align: center;
	font-family: times new roman;
	font-size: 24px;
	padding: 5%;
}

mark {
	background-color: rgb(240, 170, 50);
	color: black;
}

a:hover {
	text-decoration: none;
}
.ending {
	background:rgb(240, 170, 50);
	padding: 10px;
	text-align: center;
}

.info {
	font-size: 40px;
	text-align: center;
	font-family: verdana bold italic ;
	outline-style: none;
	margin-top: 8px;
}

.curveheader{
	text-align: center;
	width: 100%;
	background-size: over;
	background-color: rgb(255, 148, 71);
	text-shadow:2px 2px 4px rgb(230, 223, 204) ;
	color: white;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85%/ 30% ;
	padding: 5%;


}

.ending2{
	background:grey;
	padding: 10px;
	text-align: center;

}

.lol1 {
	text-align: center;
	color: white;
	padding: 3%;
	font-family: georgia italic;
	font-size: 25px;
}

.lol {
	text-align: center;
	color: white;
	margin-top: 10px;
	font-family: georgia italic;
	font-size: 19.5px; 
}

.lol3 {
	text-align: center;
	color: white;
	margin-top: 10px;
	margin-bottom: 1000px;
	font-family: georgia italic;
	font-size: 19.5px; 

}

#size {
	font-size: 70px;
}

#size2 {
	font-size: 30px;

}

* {
	box-sizing: border-box;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 10px;
  
}

